<h1 class="mt-4">Clientes </h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
  <form>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="inputCity">ID:</label>
        <input type="text" class="form-control"  disabled="true" [ngModel]="cliente.id" name="id">
      </div>

      <div class="form-group col-md-3">
        <label for="inputCEP">Data Cadastro:</label>
        <input type="text" class="form-control"  disabled="true"  [ngModel]="cliente.dataCadastro" name="dataCadastro">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputCity">Nome:</label>
        <input type="text" class="form-control"  [(ngModel)]="cliente.nome" name="nome"/>
      </div>

      <div class="form-group col-md-3">
        <label for="inputCEP">CPF:</label>
        <input type="text" class="form-control"   [(ngModel)]="cliente.cpf" name="cpf">
      </div>
    </div>

        <div class="row">
          <div class="col-md-02">
            <button type="submit" class="btn btn-success" (click)="clicar()">
              <i class="fa fa-save"></i> Salvar
            </button>

          </div>
        </div>
  </form>
</div>
